body,
.black{
    background-color:black;
    
}
#logo{
    width:80px;
}
.words{

}
.text{
    color:#3366ff;
}

.black{
    top:90px;
}
.slide{

}
.heading{
	text-align:center;
	padding-top:250px;
	padding-bottom:20px;


	
}
.about{
	border-top:2px solid #3366ff;
	padding-top:20px;
	font-size:25px;
}

.img{
	text-align:center;
}